* {
  margin: 0%;
  padding: 0%;
}
.mainNav {
  width: 100vw;
  height: 15vh;
  background-color: blue;
  display: flex;
  align-items: center;
}
.headDiv1 {
  height: 10vh;
  width: 8vw;
}
.logoimg {
  height: 10vh;
  width: 8vw;
  margin-left: 10%;
  background-color: rgb(6, 240, 248);
}
.headDiv2 {
  margin-left: 40%;
  color: rgb(6, 240, 248);
  font-family: fantasy;
}
.headDivs3 {
  margin-left: 20px;
  margin-right: 20px;
  color: rgb(6, 240, 248);
}
.for {
  margin-left: 20%;
}
.nale {
  display: none;
}
.maindiv1 {
  color: blue;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 20vh;
  width: 100vw;
}
.biggerimg {
  height: 65vh;
  width: 40vw;
  margin-left: 30%;
  background-color: rgb(195, 195, 248);
  border-radius: 100px;
}
.BIGIMG {
  height: 60vh;
  width: 30vw;
  margin-left: 13%;
  margin-top: 20px;
  border-radius: 100px;
  box-shadow: 5px 5px 60px blue;
}
@media screen and (max-width: 400px) {
  .mainNav {
    height: 10vh;
  }
  .logoimg {
    height: 6vh;
    width: 15vw;
    margin-left: 10%;
    margin-top: 35%;
    background-color: rgb(6, 240, 248);
  }
  .headDiv2 {
    margin-left: 40%;
    color: rgb(6, 240, 248);
    font-family: fantasy;
    font-size: small;
  }
  a {
    text-decoration: none;
    color: rgb(6, 240, 248);
    margin-left: 30%;
  }

  .ale {
    display: none;
  }
  .nale {
    display: contents;
  }
  .biggerimg {
    height: 60vh;
    width: 50vw;
    margin-left: 22%;
  }
  .BIGIMG {
    height: 55vh;
    width: 40vw;
    margin-left: 8%;
  }
}
